body {
    font-family: 'Open Sans', sans-serif;
    color: #63688e;
}
.color-page {
    color: #604FF8;
}
.btn-page {
    background:#604FF8;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    border-radius: 50px;
    color: #ffffff;
    height: 60px;
    padding: 15px 50px;
    font-weight: 500;
}
.btn-info {
    background: transparent;
    border: 1px solid #604FF8;
    color: #2C2C2C;
    height: 60px;
    padding: 15px 50px;
    font-weight: 700;
}
h1 {
    color:#2C2C2C;
    font-family: 'Montserrat', sans-serif;
}
.btn-info:hover {
    background: #604FF8;
    color:#fff;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1020;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.navbar {
    padding: 0 10%;
}
nav .navbar-brand {
    color: #604FF8;
    font-size: 3.5em;
}
nav ul.navbar-nav  {
    flex-grow: 1;
    justify-content: center;
}
nav ul.navbar-nav li {
    margin: 0 5%;
}
nav ul.navbar-nav li a {
    color: #767677;
    font-size: 1.1em;
}
/*Section Information*/
section#info {
    padding: 0 5%;
}
section#info div.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
section#info div.title div.fadein {
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      opacity: 0;
      margin-left: -100%;
    }
  
    to {
      opacity: 1;
      margin-left: 0%;
    }
  }
section#info div.title h1 {
    align-self: center;
    font-size: 4.5rem;
}
section#info div.title p {
    font-size: 1.2em;
    margin-top: 20px;
}
section#info div:last-child div.img {
    width: 80%;
}
section#info div:last-child div.img img {
    width: 100%;
    animation-duration: 4s;
    animation-name: slideimg;
}
@keyframes slideimg {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
/*sección servicios*/
section#services div.row {
    padding: 0 5%;
}
section#services div.row div.item {
    height: 100px;
    display: flex;
    align-items: center;
    margin-top:50px;
    cursor:pointer;
}
section#services div.row div.item div.titulo {
    flex-direction: column;
}
section#services div.row div.item div.titulo p:first-child {
    color:#2C2C2C;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem; 
    transition:color .2s ease-in;
}
section#services div.row div.item div.titulo p:first-child:hover {
    color:#604FF8;
}
section#services div.row div.rounded-circle {
   margin-right: 2%;
   width: 30%;
   height: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
section#services div.row div.rounded-circle:hover {
    animation: latidos .5s infinite;
	transform-origin: center;
}
@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.1); }
    to { transform: none; }
}

/*Sección estadisticas*/
section#stat {
    padding: 10px 0;
}
section#stat div#counter div.row {
    padding-left:6%;
}
section#stat div#counter div.row div.item-counter {
    display: flex;
    align-items: center;
    margin-top:50px;
    cursor:pointer;
}
section#stat div#counter div.row div.item-counter div.icon {
   margin-right: 2%;
   width: 30%;
   height: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
}
section#stat div#counter div.row div.item-counter div.titulo div.counter-value{
    color:#2C2C2C;
    font-weight: 700;
    font-size: 2rem;
}

/*Seccion empresa*/
section#ent {
    padding-top:100px;
    display:flex;
}
section#ent div:first-child {
    width: 30%;
}
section#ent div:last-child {
    width: 70%;
}
section#ent div.img {
    width: 90%;
}
section#ent div.img img {
    width: 100%;
}
section#ent div.firma {
    width: 20%;
}
section#ent div.firma img {
    width: 100%;
}

/*Sección Proyectos*/

section#pro div.title {
    display:flex;
    justify-content: center;
}
section#pro div.title div.item {
    width: 40%;
}
section#pro div.title div:last-child {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}
section#pro div.opt {
    display:flex;
    justify-content: space-around;
    flex-flow: row; 
    flex-wrap: wrap;
    padding: 0 7%;
    margin-top: 50px;
}
section#pro div.opt div.item-p {
    background: url("../img/pro.jpeg") no-repeat center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
}
section#pro div.opt div.item-p div.title{
    background: rgba(0, 0, 0, 0.70);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition:opacity .3s ease-in-out;
}
section#pro div.opt div.item-p div.title p{
    color:#fff;
    font-size: 1.2rem;
}
section#pro div.opt div.item-p:hover div.title {
    opacity: 1;
}


@media (max-width: 768px) {
    section#info div.title {
        margin-top: 20px;
        text-align: center;
    }
    section#info div.title p {
        padding: 0 !important;
    }
    section#info div.title h1 {
        font-size: 1.5rem;
    }
    section#info div.title .item-btn {
        padding: 0 !important;
    }
    section#info div.title .item-btn .btn-info {
        width: 100%;
    }
    section#info div:last-child div.img {
        display: none;
    }
    section#services h1 {
        font-size: 1.5rem;
    }
    section#services div.row div.rounded-circle {
        width: 50%;
    }
    section#ent div.img-resp {
        display: none;
    }
    section#ent  {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    section#ent div.firma {
        width: 100%;
    }
    section#pro div.title {
        flex-direction: column;
        justify-content: center;
    }
    section#pro div.title div.item  {
        width: 100%;
    }
    section#pro div.title div.item h1 {
        font-size: 1.5rem;
    }
    section#pro div.title div.item .btn-info {
        margin-top: 20px;
        width: 100%;
    }
 }
